#venv
.env
venv/
.venv/
*/.venv/

# ไฟล์ Cache ของ Python
__pycache__/
*.pyc
*.pyo
*.pyd

# โฟลเดอร์ที่เกิดจากการติดตั้งหรือ Build
build/
dist/
*.egg-info/

# ไฟล์ที่สร้างโดย IDE หรือ Editor
.vscode/
.idea/
.devcontainer
.devcontainer/

# ไฟล์ขยะจากระบบปฏิบัติการ
.DS_Store
Thumbs.db

# Log files
*.log

#apikey
longsorn-ai-demo-gcp-key.json